
<div class="{%  if width %} {{ width }} wide {% endif %}field {% if field_obj.errors %} error{% endif %}" id="{{field_obj.auto_id}}-field">
    {{ field_obj.label_tag }}   
    <div class="ui {% if field_obj.name == 'delete' %} checkbox {%  else %} input {% endif %}">
        {{ field_obj }}
    </div>
    {% if field_obj.errors %}
        <div class="ui warning visible message">
            <ul class="list">
                {% for error in field_obj.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
