{% extends 'fsdviz_base.html' %}

{% load static %}
{% load humanize %}
{% load fsdviz_tags %}


{% block extra_head %}


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" >
    <script src= "https://unpkg.com/leaflet@1.5.1/dist/leaflet-src.js"></script>


    <style>

     .cwt-warning {
         color: red;
     }

    </style>

{% endblock %}

{% block title %}  {{cwts.0.cwt_number|format_cwt}} CWT Detail {% endblock title %}

{% block navbar_search %}

    <div class="right menu" id="cwt-menu-search" >
        <form id="menu-search-form" class="item"  action="{% url 'stocking:cwt-list' %}" method="get">
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input
                        class="prompt"
                        type="text"
                        placeholder="CWT contains..."
                        required
                        name="contains">
                    <i id="menu-search-icon" class="search link icon"></i>
                </div>
            </div>
        </form>
    </div>
{% endblock navbar_search%}


{% block content %}

    <div class="ui container" id="content">

        <div class="ui grid">
            <div class="four wide column">

                {% for cwt in cwts %}

                <div class="ui card">
                    <div class="content">
                        <div class="header">CWT Number:  {{cwt.cwt_number | format_cwt}}</div>
                    </div>
                    <div class="content">
                        <div class="description">
                            <p {% if cwt.manufacturer == 'mm' %} class="cwt-warning" {% endif %}>
                                <strong>Manufacturer:</strong> {{cwt.get_manufacturer_display}}</p>
                            <p {% if cwt.tag_type == 'sequential' %} class="cwt-warning" {% endif %}>
                                <strong>Tag Type:</strong> {{cwt.get_tag_type_display}}</p>
                            <p {% if cwt.tag_reused %} class="cwt-warning" {% endif %}>
                                <strong>Tag Reused :</strong> {{cwt.tag_reused}}</p>
                            <div class="ui segment">
                                <p {% if cwt.multiple_lakes %} class="cwt-warning" {% endif %}>
                                    <strong>Multiple Lakes:</strong> {{cwt.multiple_lakes}}</p>
                                <p {% if cwt.multiple_species %} class="cwt-warning" {% endif %}>
                                    <strong>Multiple Species:</strong> {{cwt.multiple_species}}</p>
                                <p {% if cwt.multiple_strains %} class="cwt-warning" {% endif %}>
                                    <strong>Multiple Strains :</strong> {{cwt.multiple_strains}}</p>
                                <p {% if cwt.multiple_yearclasses %} class="cwt-warning" {% endif %}>
                                    <strong>Multiple Year Classes:</strong> {{cwt.multiple_yearclasses}}</p>
                                <p {% if cwt.multiple_agencies %} class="cwt-warning" {% endif %}>
                                    <strong>Multiple Agencies:</strong> {{cwt.multiple_agencies}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="twelve wide column">
                <div class="ui segment">
                    <div id="mapid" style='width: 800px; height: 600px;'></div>
                </div>
            </div>
        </div>

        {% for cwtseq in object_list %}

            <h4>Stocking Events {% if cwtseq.sequence.upper > 1 %} ({{cwtseq.sequence.lower}}-{{cwtseq.sequence.upper}}) {% endif %} </h4>

            {% if cwts.count > 1 %} <p> <strong> Manufacturer:</strong> {{ cwtseq.cwt.get_manufacturer_display }} </p>  {% endif %}

            <table class="ui very compact celled table tablesorter" style="font-size: 0.9em">
                <thead>
                    <tr>
                        <th scope="col">Stock ID</th>
                        <th scope="col">Agency</th>
                        <th scope="col">Agency Stock ID</th>
                        <th scope="col">Lake</th>
                        <th scope="col">Site</th>
                        <th scope="col" data-sorter="shortDate" data-date-format="MMM-dd-yy">Date</th>
                        <th scope="col">Species</th>
                        <th scope="col">Strain</th>
                        <th scope="col">Year Class</th>
                        <th scope="col">Life Stage</th>
                        <th scope="col">Stocking Method</th>
                        <th scope="col">Clip</th>
                        <th scope="col">Mark</th>
                        <th scope="col">Yr.Eq.</th>
                    </tr>
                </thead>
                <tbody>

                    {% for event in cwtseq.events.all %}
                        <tr>
                            <td> <a href="{% url 'stocking:stocking-event-detail' event.stock_id %}">{{ event.stock_id }}</a></td>
                            <td> {{ event.agency.abbrev }}</td>
                            <td> {{ event.agency_stock_id|default:"---" }}</td>
                            <td> {{ event.jurisdiction.lake.lake_name }}</td>
                            <td title="{{ event.site }}"> {{ event.site }}</td>
                            <td> {{ event.date|date:"M-d-y" }}</td>
                            <td> {{ event.species.common_name | title }}</td>
                            <td> {{ event.strain_alias.strain.strain_label }}</td>
                            <td>{{ event.year_class }}</td>
                            <td> {{ event.lifestage.description | title }}</td>
                            <td> {{ event.stocking_method.description | title }}</td>
                            <td>{{event.clip_code.clip_code|default:"---"}}</td>
                            <td>{{event.mark|default:"---"}}</td>
                            <td> {{ event.yreq_stocked | intcomma }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>






        {% empty %}
            <h3>Oops! It doesn't look like there are any cwts with number {{cwt_number | format_cwt }}</h3>
        {% endfor %}

    </div>
{% endblock %}


{% block extra_js %}

    {{ bbox|json_script:"map-bounds" }}
    {{ event_points|json_script:"event-points" }}

    <script>
     let pts = JSON.parse(document.getElementById('event-points').textContent);
     let bbox = JSON.parse(document.getElementById('map-bounds').textContent);
     let mapBounds = [bbox.slice(0,2), bbox.slice(2)];

     // setup the map with rough bounds (need to get pies to plot first,
     // this will be tweaked later):
     const mymap = L.map("mapid", {
         zoomDelta: 0.25,
         zoomSnap: 0
     }).fitBounds([[bbox[1], bbox[0]], [bbox[3], bbox[2]]], {padding: [20,20]});

     L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
         attribution:
     '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
         maxZoom: 18
     }).addTo(mymap);


     pts.forEach(function(pt){
         L.circleMarker([  pt[2] , pt[1] ], {
             color: 'red',
             fillColor: '#f03',
             fillOpacity: 0.5,
             radius: 5
         }).addTo(mymap);
     })




    </script>

{% endblock %}
