{% extends 'fsdviz_base.html' %}

{% load static %}
{% load humanize %}
{% load fsdviz_tags %}

{% block extra_head  %}

    <style>
     /* body { margin:0;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        }
      */

     #content{
         padding-left: 10px;
         padding-right: 10px;
     }

    </style>

{% endblock %}

{% block navbar_search %}

    <div class="right menu">
        <form class="item">
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" placeholder="CWT contains..." name="contains">
                    <i class="search link icon"></i>
                </div>
            </div>
        </form>
    </div>

{% endblock navbar_search%}

{% block content %}


    <div class="ui container fluid" id="content">

        <div class="ui grid">
            <div class="two wide column">

                {% include 'stocking/_refine_events_sidebar.html' %}

            </div>
            <div class="fourteen wide column">
                <div class="ui grid">

                    <div class="row">

                        <div class="ui column">


                            {% for filter, values in  filters.items %}
                                                            
                                <a href="{% strip_parameter param=filter %}" class="mini ui icon {{ filter | filter_colour }} button">
                                    {{ filter }} = {{values}}
                                    <i class="times icon"></i>
                                </a>
                                
                            {% endfor %}


                            
                            {% include '_paginator.html' %}


                            <table class="ui very compact celled table tablesorter" style="font-size: 0.9em">
                                <thead>
                                    <tr>
                                        <th scope="col">CWT</th>
                                        <th scope="col">Tag Type</th>
                                        <th scope="col">Agency</th>
                                        <th scope="col">Lake</th>
                                        <th scope="col">State/Prov.</th>
                                        <th scope="col">Year</th>                                        
                                        <th scope="col">Species</th>
                                        <th scope="col">Strain</th>
                                        <th scope="col">Year Class</th>                                        
                                        <th scope="col">Life Stage</th>
                                        <th scope="col">Stocking Method</th>
                                        <th scope="col">Clip</th>
                                        <th scope="col">Mark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}

                                        <tr>
                                            <td> <a href="#">{{ object.cwt_number | format_cwt}}</a></td>
                                            <td> {{ object.tag_type}}</td>
                                            <td> {{ object.agency_code}}</td>
                                            <td> {{ object.lake}}</td>
                                            <td> {{ object.state}}</td>
                                            <td> {{ object.year}}</td>
                                            <td> {{ object.spc}}</td>
                                            <td> {{ object.strain}}</td>
                                            <td> {{ object.year_class}}</td>
                                            <td> {{ object.stage}}</td>
                                            <td> {{ object.method}}</td>
                                            <td> {{ object.clip_code}}</td>
                                            <td> {{ object.mark}}</td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% include '_paginator.html' %}

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block extra_js%}

    <!-- tablesorter plugin-->
    <script src=<td> {{ object.https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.js<td> {{ object.></script>

    <!-- tablesorter widget file - loaded after the plugin -->
    <script src=<td> {{ object.http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.7/js/jquery.tablesorter.widgets.js<td> {{ object.></script>

    <script type=<td> {{ object.text/javascript<td> {{ object.>

         $(<td> {{ object..tablesorter<td> {{ object.).tablesorter({
             theme: 'bootstrap',
             widthFixed: true,
             showProcessing: true,
             headerTemplate: '{content} {icon}',
             widgets: ['zebra', 'uitheme', 'scroller'],
             widgetOptions: {
                 scroller_height: 300,
                 scroller_barWidth: 17,
                 scroller_jumpToHeader: true,
                 scroller_idPrefix: 's_'
             }
         });

    </script>

{% endblock %}
