{% extends 'fsdviz_base.html' %}


{% load static %}

{% block extra_head %}

{% endblock %}


{% block content %}

    <div class="ui container">

        <h1>Filtered Stocking Events</h1>

        <div class="ui hidden warning message" id="record-count-warning">
            <i class="close icon"></i>
            <div class="header">
                Too many stocking events returned!
            </div>
            The number of records returned by your selections exceeds
            the maximum number of stocking events that can be displayed
            by this view. You should return to
            <a href="{% url 'stocking:find-stocking-events' %}">Find Stocking Events</a> and refine your search criteria.
        </div>

        <a href="{% url 'stocking:find-stocking-events' %}">Find Events</a>

        <div class="ui grid">
            <div class="row">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Map</div>
                    </div>
                    <div class="content">
                        <p>Map goes here</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Stocking Over Time</div>
                    </div>
                    <div class="content">
                        <p>Graphs of stocking over time go here. </p>
                    </div>
                </div>
            </div>


            <div class="ui fluid card accordion">
                <div class="content">
                    <div class="header title active">
                        <div class="ui grid">
                            <div class="ten wide column">
                                <h3>Filters</h3>
                            </div>
                            <div class="four wide column">
                                <button  class="ui mini primary button right floated" id="btn_reset_filters">Reset All</button>
                            </div>
                            <div class="two wide column">
                                <div class="right floated meta"><i class="chevron down icon"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <p class="transition visible" style="display: block !important;">
                            <div class="ui horizontal segments">
                                <div class="ui segment">
                                    <h4>Temporal Filters</h4>

                                    <table>
                                        <tr>
                                            <td><strong>Year(s):</strong></td>
                                            <td id="year-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Season(s):</strong></td>
                                            <td id="season-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Month(s):</strong></td>
                                            <td id="month-filter">All</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="ui segment">
                                    <h4>Spatial Filters</h4>

                                    <table>
                                        <tr>
                                            <td><strong>Assessment Area:</strong></td>
                                            <td id="assess-area-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Port(s):</strong></td>
                                            <td id="port-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Grid Rows(s):</strong></td>
                                            <td id="gridrow-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Grid Cols(s):</strong></td>
                                            <td id="gridcol-filter">All</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="ui segment">
                                    <h4>Fishery Filters</h4>

                                    <table>
                                        <tr>
                                            <td><strong>Fishery:</strong></td>
                                            <td id="fishery-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>License Number(s):</strong></td>
                                            <td id="license-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Boat(s):</strong></td>
                                            <td id="boat-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Captain(s):</strong></td>
                                            <td id="captain-filter">All</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="ui segment">
                                    <h4>Fishing Practices</h4>
                                    <table>
                                        <tr>
                                            <td><strong>Target Species:</strong></td>
                                            <td id="trgspc-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Species:</strong></td>
                                            <td id="species-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Set Type(s):</strong></td>
                                            <td id="settype-filter">All</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Disposition:</strong></td>
                                            <td id="dis-filter">All</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>


            <div class="ui fluid card accordion">
                <div class="content">
                    <div class="header title active">
                        <h3>Spatial And Administrative Filters
                            <div class="right floated meta"><i class="chevron down icon"></i></div>
                        </hr>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="transition visible" style="display: block !important;">

                            <div class="ui equal width grid">

                                <div class="row">
                                    <div class="column">
                                        <div id="lake-plot">
                                            <h5>Lake
                                                <span>
                                                    <a class="reset" id="lake-plot-reset" href="#lake-plot" style="display: none;">reset</a>
                                                    <div class="clearfix"></div>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div id="state-province-plot">
                                            <h5>State/Province
                                                <span>
                                                    <a class="reset" id="state-province-plot-reset" href="#state-province-plot" style="display: none;">reset</a>
                                                    <div class="clearfix"></div>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="column">
                                        <div id="jurisdiction-plot">
                                            <h5>Jurisdiction
                                                <span>
                                                    <a class="reset" id="jurisdiction-plot-reset" href="#jurisdiction-plot" style="display: none;">reset</a>
                                                    <div class="clearfix"></div>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div id="agency-plot">
                                            <h5>Agency
                                                <span>
                                                    <a class="reset" id="agency-plot-reset" href="#agency-plot" style="display: none;">reset</a>
                                                    <div class="clearfix"></div>
                                                </span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ui fluid card accordion">
                <div class="content">
                    <div class="header title active">
                        <h3>Species And Strain
                            <div class="right floated meta"><i class="chevron down icon"></i></div>
                        </hr>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="transition visible" style="display: block !important;">

                            <div class="ui equal width grid">
                                <div class="column">
                                    <div id="species-plot">
                                        <h5>Species
                                            <span>
                                                <a class="reset" id="species-plot-reset" href="#species-plot" style="display: none;">reset</a>
                                                <div class="clearfix"></div>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="strain-plot">
                                        <h5>Strain
                                            <span>
                                                <a class="reset" id="strain-plot-reset" href="#strain-plot" style="display: none;">reset</a>
                                                <div class="clearfix"></div>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="ui fluid card accordion">
                <div class="content">
                    <div class="header title active">
                        <h3>Lifestage, Mark and Stocking Method
                            <div class="right floated meta"><i class="chevron down icon"></i></div>
                        </hr>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="transition visible" style="display: block !important;">

                            <div class="ui equal width grid">
                                <div class="column">
                                    <div id="lifestage-plot">

                                        <h5>Life Stage
                                            <span>
                                                <a class="reset" id="lifestage-plot-reset" href="#lifestage-plot" style="display: none;">reset</a>
                                                <div  class="clearfix"></div>
                                            </span>
                                        </h5>

                                    </div>
                                </div>
                                <div class="column">
                                    <div id="stocking-method-plot">
                                        <h5>Stocking Method
                                            <span>
                                                <a class="reset" id="stocking-method-plot-reset" href="#stocking-method-plot" style="display: none;">reset</a>
                                                <div class="clearfix"></div>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="column">
                                    <div id="mark-plot">
                                        <h5>Mark/Clip
                                            <span>
                                                <a class="reset" id="mark-plot-reset" href="#mark-plot" style="display: none;">reset</a>
                                                <div class="clearfix"></div>
                                            </span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


{% block extra_js %}


    <script type="text/javascript">

     const dataURL = "{{ dataUrl|safe }}" + window.location.search;
     const maxEvents = {{ maxEvents }};

    </script>

    <!-- dc.js won't roll up - add these here for now:  -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.6/crossfilter.min.js"></script>
    <script src="https://unpkg.com/dc@3.0.8/dc.js"></script>

    <script type="text/javascript" src="{% static "js/filteredStockingEvents.js" %}"></script>



{% endblock %}
