{% extends 'fsdviz_base.html' %}

{% load humanize %}
{% load fsdviz_tags %}

{% block content %}


<div class="container-fluid">

    <div class="row">
        <div id="selectors" class="col-sm-2">

            <h5>Refine By</h5>

            <div class="accordion" id="accordionExample">

                <div class="card">
                    <div class="card-header" id="heading0">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                Year
                            </button>
                        </h5>
                    </div>

                    <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                {% for yr in years %}
                                {% if yr == year %}
                                <li>{{ yr }}</li>
                                {% else %}
                                <li><a href="{% url 'stocking:stocking-event-list-lake-year' lake.abbrev yr %}">{{ yr }}</a></li>
                                {% endif  %}
                                {% endfor %}
                            </ul>


                        </div>
                    </div>


                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Agency
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                            {% for object in agency_list %}
                                <li><a href="{% query_transform agency=object.0 %}">{{object.0}}({{object.1}})</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Species
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
      <ul>
                            {% for object in species_list %}
                                <li><a href="{% query_transform species=object.0 %}">{{object.1}}({{object.2}})</a></li>
                            {% endfor %}
                            </ul>


                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingStrain">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseStrain" aria-expanded="false" aria-controls="collapseStrain">
                                Strain
                            </button>
                        </h5>
                    </div>
                    <div id="collapseStrain" class="collapse" aria-labelledby="headingStrain" data-parent="#accordionExample">
                        <div class="card-body">
                            {% for object in strain_list %}
                                <li><a href="{% query_transform strain=object.0 %}">{{object.1}}({{object.2}})</a></li>
                            {% endfor %}

                        </div>
                    </div>
                </div>





                <div class="card">
                    <div class="card-header" id="headingLifestage">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseLifestage" aria-expanded="false" aria-controls="collapseLifestage">
                                Life Stage
                            </button>
                        </h5>
                    </div>
                    <div id="collapseLifestage" class="collapse" aria-labelledby="headingLifestage" data-parent="#accordionExample">
                        <div class="card-body">
      <ul>
                            {% for object in lifestage_list %}
                                <li><a href="{% query_transform lifestage=object.0 %}">{{object.1}}({{object.2}})</a></li>
                            {% endfor %}
                            </ul>


                        </div>
                    </div>
                </div>




                <div class="card">
                    <div class="card-header" id="headingMark">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMark" aria-expanded="false" aria-controls="collapseMark">
                                Mark
                            </button>
                        </h5>
                    </div>
                    <div id="collapseMark" class="collapse" aria-labelledby="headingMark" data-parent="#accordionExample">
                        <div class="card-body">
      <ul>
                            {% for object in mark_list %}
                                <li><a href="{% query_transform mark=object.0 %}">{{object.0}}({{object.1}})</a></li>
                            {% endfor %}
                            </ul>


                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="headingStocking_method">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseStocking_method" aria-expanded="false" aria-controls="collapseStocking_method">
                                Stocking Method
                            </button>
                        </h5>
                    </div>
                    <div id="collapseStocking_method" class="collapse" aria-labelledby="headingStocking_method" data-parent="#accordionExample">
                        <div class="card-body">
      <ul>
                            {% for object in stocking_method_list %}
                                <li><a href="{% query_transform stocking_method=object.0 %}">{{object.1}}({{object.2}})</a></li>
                            {% endfor %}
                            </ul>


                        </div>
                    </div>
                </div>








            </div>
        </div>
    </div>

    <div class="col-sm-10">

        <h3>Stocking Events {% if lake %} for {{lake.lake_name}} {%endif%} {% if year %}{{ year }}{% endif %}</h3>

        {% include '_paginator.html '%}


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Agency</th>
                    <th scope="col">Lake</th>
                    <th scope="col">Site</th>
                    <th scope="col">Date</th>
                    <th scope="col">Species</th>
                    <th scope="col">Strain</th>
                    <th scope="col">Year Class</th>
                    <th scope="col">Life Stage</th>
                    <th scope="col">Stocking Methd</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Yr.Eq.</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}

                <tr>
                    <td> {{ object.agency.abbrev }}</td>
                    <td> {{ object.lake.lake_name }}</td>
                    <td> {{ object.site }}</td>
                    <td> {{ object.date }}</td>
                    <td> {{ object.species.common_name | title }}</td>
                    <td> {{ object.strain_raw.strain.strain_label }}</td>
                    <td>{{ object.year_class }}</td>
                    <td> {{ object.lifestage.description | title }}</td>
                    <td> {{ object.stocking_method.description | title }}</td>                    <td>{{object.mark}}</td>
                    <td> {{ object.yreq_stocked | intcomma }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>
</div>



{% endblock %}
