{% extends 'fsdviz_base.html' %}

{% load static %}

{% block extra_head %}

    <style type="text/css" media="screen">
     .small {
         font-size: 0.8rem;
     }

     .field.error small.helper {
         color: #9F3A38 !important;
     }
     

    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />



{% endblock %}

{% block content %}

    <div  class="ui container" >
        <h2>Edit Stocking Event {{ stock_id }}</h2>

        <form class="ui form" action="" method="post">
            {% csrf_token %}
            {% if form.errors or cwt_formset.errors %}
                <div class="ui error visible message">
                    <div class="header">
                        Please fix the identified errors.
                    </div>
                    <ul class="list">
                        {% for field in form %}                        
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li>{{field.label}}: {{ error|escape }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}                            
                        {% if form.non_field_errors  %}
                            {% for error in form.non_field_errors %}
                                <li> {{ error|escape }}</li>
                            {% endfor %}
                        {% endif %}
                        
                        {% if cwt_formset.errors %}
                            {% for dict in cwt_formset.errors %}
                                {% for error in dict.values  %}
                                    <li> {{ error|escape }}</li>
                                 {% endfor %}                                   
                            {% endfor %}
                        {% endif %}
                        {% if cwt_formset.non_form_errors %}
                            {% for error in cwt_formset.non_form_errors %}
                                <li> {{ error|escape }}</li>
                            {% endfor %}
                        {% endif %}
                        
                    </ul>
                </div>
            {% endif %}
            
            {{form.id}}

            
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Agency, Hatchery, Species, and Strain</div>
                </div>
                <div class="content">
                    <div class="three fields">
                        {% include "stocking/_form_field.html" with field_obj=form.agency_id %}
                        {% include "stocking/_form_field.html"  with field_obj=form.lotcode %}
                        {% include "stocking/_form_field.html"  with field_obj=form.agency_stock_id %}
                    </div>
                    <div class="three fields">
                        {% include "stocking/_form_field.html" with field_obj=form.species_id %}
                        {% include "stocking/_form_field.html" with field_obj=form.strain_raw_id %}
                        {% include "stocking/_form_field.html" with field_obj=form.hatchery_id %}
                    </div>
                </div>
            </div>

            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Event Date</div>
                </div>
                <div class="content">

                    <div class="four fields">

                        {% include "stocking/_calendar_field.html" with field_obj=form.date %}

                        {% include "stocking/_form_field.html" with field_obj=form.year %}
                        {% include "stocking/_form_field.html" with field_obj=form.month %}
                        {% include "stocking/_form_field.html" with field_obj=form.day %}

                    </div>
                </div>
            </div>

            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Event Location</div>
                </div>
                <div class="content">

                    <div class="ui grid">
                        <div class="four wide column">

                            {% include "stocking/_form_field.html" with field_obj=form.lake_id %}

                            {% include "stocking/_form_field.html" with field_obj=form.state_prov_id %}
                            {% include "stocking/_form_field.html" with field_obj=form.management_unit_id %}
                            {% include "stocking/_form_field.html" with field_obj=form.grid_10_id %}

                            <div id="grid10-popup" class="ui flowing top center popup">
                                <div class='ui bulleted list'>
                                    <div class='item'>Error 1 </div>
                                    <div class='item'>Oh snap! lat-long says GB2</div>
                                </div>
                            </div>

                            <div class="ui segment">
                                {% include "stocking/_form_field.html" with field_obj=form.dd_lat %}
                                {% include "stocking/_form_field.html" with field_obj=form.dd_lon %}
                                {{form.latlong_flag_id}}
                            </div>

                            {% include "stocking/_form_field.html" with field_obj=form.site %}
                            {% include "stocking/_form_field.html" with field_obj=form.st_site %}
                            {% include "stocking/_form_field.html" with field_obj=form.site_type %}

                        </div>
                        <div class="twelve wide column">
                            <div class="ui segment">
                                <div id="mapid" style='width: 750px; height: 700px;'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Event Attributes</div>
                </div>
                <div class="content">

                    <div class="four fields">
                        {% include "stocking/_form_field.html" with field_obj=form.no_stocked %}
                        {% include "stocking/_form_field.html" with  field_obj=form.year_class %}
                        {% include "stocking/_form_field.html" with  field_obj=form.length %}
                        {% include "stocking/_form_field.html" with  field_obj=form.weight %}
                    </div>
                    <div class="three fields">
                        {% include "stocking/_form_field.html" with  field_obj=form.stocking_method_id %}
                        {% include "stocking/_form_field.html" with  field_obj=form.lifestage_id %}
                        {% include "stocking/_form_field.html" with  field_obj=form.condition_id %}
                    </div>

                    <div class="three fields">
                        {% include "stocking/_form_field.html" with field_obj=form.fin_clips %}
                        {% include "stocking/_form_field.html" with field_obj=form.physchem_marks %}
                        {% include "stocking/_form_field.html" with field_obj=form.mark_eff %}
                    </div>


                    <div class="two fields">
                        {% include "stocking/_form_field.html" with field_obj=form.fish_tags %}
                        {% include "stocking/_form_field.html" with field_obj=form.tag_ret %}
                    </div>


                    <div class="fluid field">

                        {% include "stocking/_form_field.html" with field_obj=form.notes %}

                    </div>
                </div>
            </div>


            <div class="ui fluid card accordion">
                <div class="content">
                    <div class="header title {% if has_cwts %}active{% endif %} ">
                        <h3>Coded Wire Tags
                            <div class="right floated meta"><i class="chevron down icon"></i></div>
                            <hr/>
                        </h3>
                    </div>                    
                    <div class="content {% if has_cwts %}active{% endif %}">

                        {{ cwt_formset.management_form }}
                        <div id="cwt-form-set">
                            
                            {% for form in cwt_formset %}
                                <div class="ui segment">

                                    {% if form.errors %}
                                        <div class="ui error visible message">
                                            <ul class="list">
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <li>{{field.label}}: {{ error|escape }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                    <li> {{ error|escape }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    <div class="six fluid fields">
                                        {% include "stocking/_form_field.html" with field_obj=form.cwt_number %}
                                        {% include "stocking/_form_field.html" with field_obj=form.manufacturer %}
                                        {% include "stocking/_form_field.html" with field_obj=form.tag_type %}
                                        {% include "stocking/_form_field.html" with field_obj=form.sequence_start %}                                        
                                        {% include "stocking/_form_field.html" with field_obj=form.sequence_end %}
                                        {% include "stocking/_form_field.html" with field_obj=form.delete %}

                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="ui basic segment">
                            <input class="ui mini grey button" type="button" value=                                         
                                          {% if has_cwts %} "Add Another CWT" {% else %} "Add a CWT" {% endif %} 
                                   id="add_more">                            
                        </div>
                        
                        <div id="empty_form" style="display:none">
                            <div class="ui segment">
                                <div class="six fluid fields">
                                    {% include "stocking/_form_field.html" with field_obj=cwt_formset.empty_form.cwt_number %}
                                    {% include "stocking/_form_field.html" with field_obj=cwt_formset.empty_form.manufacturer %}
                                    {% include "stocking/_form_field.html" with field_obj=cwt_formset.empty_form.tag_type %}
                                    {% include "stocking/_form_field.html" with field_obj=cwt_formset.empty_form.sequence_start %}
                                    {% include "stocking/_form_field.html" with field_obj=cwt_formset.empty_form.sequence_end %}
                                    {% include "stocking/_form_field.html" with field_obj=cwt_formset.empty_form.delete %}
                                </div>                                
                            </div>
                        </div> 

                        
                    </div>
                </div>
            </div>

            <div class="row">
                <a class="ui small red right floated button" href="{% url 'stocking:stocking-event-detail' stock_id=stock_id %}">Cancel</a>

                <a class="ui small grey right floated  button" href="{% url 'stocking:edit-stocking-event' stock_id=stock_id %}">Reset Form</a>

                <input class="ui small primary right floated button" type="submit" value="Submit">

            </div>

        </form>


    </div>

{% endblock %}


{% block extra_js %}

    
    <script>
     
     $('.ui.form').form();
     $('.ui.checkbox').checkbox();
     $(".select.dropdown").dropdown();
     $('.input').popup();
     $(".ui.accordion").accordion();

     $( document ).ready(function() {
         // make sure that the sequence start and end are correctly enabled/disabled on load:
         $('.cwt-tag-type').each(function(i, obj){
             set_sequential_state(obj.id, obj.value);
         });
     });

     
     const jurisdictionURL = "{% url 'common_api:jurisdiction-list' %}";
     const manUnitURL = "{% url 'common_api:managementunit-list' %}";
     const grid10URL = "{% url 'common_api:grid10-list' %}";
     const strainURL = "{% url 'common_api:strainraw-list' %}";

     const spatialAttrURL = "{% url 'common_api:api-lookup-spatial-attrs' %}";
     const csrf_token = "{{ csrf_token }}";



     //============================================================
     // CWT FORMSET

     $(".checkbox").on("click", check_box_clicked);

     // add another cwt to our cwt_formset:
     $("#add_more").click(function() {
         this.value = "Add Another CWT";
         let form_idx = $("#id_cwtseries-TOTAL_FORMS").val();
         $("#cwt-form-set").append(
             $("#empty_form")
                 .html()
                 .replace(/__prefix__/g, form_idx)
         );
         $("#id_cwtseries-TOTAL_FORMS").val(parseInt(form_idx) + 1);
         // don't forget to set the mask for our new form
         $(".cwt-mask").on("input", function() {
             let input = $(this);
             input.val(Masking(input.val(), "__-__-__"));
         });

         $(".select.dropdown").dropdown();

         // and set the state of the sequence start and end fields and wire up the on change event.
         let element_id = "id_cwtseries-" + form_idx + "-tag_type";
         let element_value = $("#" + element_id + " option:selected").val();
         set_sequential_state(element_id, element_value);

         // need to initialize the change and click events of our new form elements:
         $("#" + element_id).on("change", tag_type_change);

         let checkbox_id = "id_cwtseries-" + form_idx + "-delete";
         $("#" + checkbox_id)
             .parent()
             .checkbox();
         $("#" + checkbox_id)
             .parent()
             .on("click", check_box_clicked);
     });

     function check_box_clicked() {
         // if one of the check boxes are set to delete we want to
         //disable the controls on the same row
         // reactive the control if the user unclicks the checkbox
         let checkbox = this.querySelector("input");
         let checked = checkbox.checked;

         let starts_with = checkbox.id.replace("delete", "");
         //get all of the elements from this row, exept our check box:
         let selected = $(".field[id*=" + starts_with + "]:not([id*=delete])");

         if (checked == true) {
             // disable the elements associated wth this tag:
             selected.addClass("disabled");
         } else {
             // the elements associated wth this tag and make sure
             selected.removeClass("disabled");
             //that seq fields are set appropriate for the tag type
             let element_id = starts_with + "tag_type";
             let element_value = $("#" + element_id + " option:selected").val();
             set_sequential_state(element_id, element_value);
         }
     }

     function Masking(value, pattern) {
         //from: https://stackoverflow.com/questions/12578507
         let out = "";
         let space = "-";
         let any = "_";

         for (let i = 0, j = 0; j < value.length; i++, j++) {
             if (value[j] === pattern[i]) {
                 out += value[j];
             } else if (pattern[i] === any && value[j] !== space) {
                 out += value[j];
             } else if (pattern[i] === space && value[j] !== space) {
                 out += space;
                 j--;
             } else if (pattern[i] !== any && pattern[i] !== space) {
                 out += pattern[i];
                 j--;
             }
         }
         return out;
     }

     $(".cwt-mask").on("input", function() {
         let input = $(this);
         input.val(Masking(input.val(), "__-__-__"));
     });

     // need to account for dashes!
     $("input.cwt-mask").attr("maxlength", 8);
     $(".cwt-tag-type").on("change", tag_type_change);

     function tag_type_change() {
         let element_id = this.id;
         let element_value = this.value;

         set_sequential_state(element_id, element_value);
     }

     function set_sequential_state(element_id, element_value) {
         let seq_start_id = element_id.replace("tag_type", "sequence_start");
         let seq_end_id = element_id.replace("tag_type", "sequence_end");
         let seq_start_id_fld = seq_start_id + "-field";
         let seq_end_id_fld = seq_end_id + "-field";

         if (element_value == "sequential") {
             $("#" + seq_start_id)
                 .parent()
                 .removeClass("disabled");
             $("#" + seq_end_id)
                 .parent()
                 .removeClass("disabled");
             $("#" + seq_start_id).prop("disabled", false);
             $("#" + seq_end_id).prop("disabled", false);
             $("#" + seq_start_id_fld).removeClass("disabled");
             $("#" + seq_end_id_fld).removeClass("disabled");
         } else {
             $("#" + seq_start_id).prop("disabled", true);
             $("#" + seq_end_id).prop("disabled", true);
             $("#" + seq_start_id)
                 .parent()
                 .addClass("disabled");
             $("#" + seq_end_id)
                 .parent()
                 .addClass("disabled");
             $("#" + seq_start_id_fld).addClass("disabled");
             $("#" + seq_end_id_fld).addClass("disabled");
         }
     }


     

    </script>


    {{ lake.geom.extent|json_script:"map-bounds" }}

    <script src="{% static "js/stocking_event_form.js" %}"></script>


{% endblock %}
