{% extends 'fsdviz_base.html' %}

{% load humanize %}
{% load fsdviz_tags %}

{% block extra_head %}

    <style type="text/css" media="screen">
     .small {
         font-size: 0.8rem;
     }
    </style>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />

{% endblock %}

{% block content %}

    <div  class="ui container" >
        <div  class="ui grid"  >
            <div  class="six wide column" >

                <div class="ui card fluid">
                    <div class="content">
                        <div class="header">
                            <h5>Event Details
                                <div class="right floated meta">
                                    <a class="float-right small" href="#details" id="toggle-details">More Detail</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <div class="content">
                        <div class="event">
                            <div class="summary">
                                <table class="table" id="details-table">
                                    <tr>
                                    <td><strong>Stock Id:</strong></td>
                                    <td>{{ object.stock_id}}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Species:</strong></td>
                                    <td>{{ object.species.common_name|title}}
                                    ({{ object.species.abbrev }})</td>
                        </tr>

                                    <tr>
                                    <td><strong>Strain:</strong></td>
                                    <td>{{ object.strain_raw.strain.strain_label}}
                                    ({{ object.strain_raw.strain.strain_code}})</td>
                        </tr>

                                    <tr class="secondary">
                                    <td><strong>Reported Strain:</strong></td>
                                    <td>{{ object.strain_raw.description}}(
                                    {{ object.strain_raw.raw_strain}}
                                    )</td>
                        </tr>


                                    <tr>
                                    <td><strong>Agency:</strong></td>
                                    <td>{{ object.agency }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Lake:</strong></td>
                                    <td>{{ object.lake }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>State/Prov:</strong></td>
                                    <td>{{ object.stateprov }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Site:</strong></td>
                                    <td>{{ object.site|title }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>10-Min. Grid:</strong></td>
                                    <td>{{ object.grid_10 }}</td>
                        </tr>
                                    <tr class="secondary">
                                    <td><strong>LatLon Flag:</strong></td>
                                    <td>{{ object.latlong_flag }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Date:</strong></td>
                                    <td>{{ object.date }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Method:</strong></td>
                                    <td>{{ object.stocking_method }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Life Stage:</strong></td>
                                    <td>{{ object.lifestage }}</td>
                        </tr>

                                    <tr>
                                    <td><strong>Age(months):</strong></td>
                                    <td>{{ object.agemonth }}</td>
                        </tr>

                                    <tr>
                                    <td><strong>Year Class:</strong></td>
                                    <td>{{ object.year_class }}</td>
                        </tr>

                                    <tr class="secondary">
                                    <td><strong>Length(mm):</strong></td>
                                    <td>{{ object.length|default_if_none:'Not Reported' }}</td>
                        </tr>

                                    <tr class="secondary">
                                    <td><strong>Weight(g):</strong></td>
                                    <td>{{ object.weight|default_if_none:'Not Reported' }}</td>
                        </tr>

                                    <tr>
                                    <td><strong>Mark:</strong></td>
                                    <td>{{ object.mark }} ({{object.clipa}})</td>
                        </tr>


                                    <tr class="secondary">
                                    <td><strong>Mark Eff:</strong></td>
                                    <td>{{ object.mark_eff|default_if_none:'Not Reported' }}</td>
                        </tr>

                                    <tr class="secondary">
                                    <td><strong>Tag Reten.:</strong></td>
                                    <td>{{ object.tag_ret|default_if_none:'Not Reported' }}</td>
                        </tr>

                                    <tr>
                                    <td><strong>Condition:</strong></td>
                                    <td>{{ object.condition }}</td>
                        </tr>

                                    <tr>
                                    <td><strong>Number Stocked:</strong></td>
                                    <td>{{ object.no_stocked|intcomma }}</td>
                        </tr>
                                    <tr>
                                    <td><strong>Yearling Equiv.:</strong></td>
                                    <td>{{ object.yreq_stocked|intcomma }}</td>
                        </tr>


                                    <tr class="secondary">
                                    <td><strong>Lot Code:</strong></td>
                                    <td>{{ object.lotcode|default_if_none:'Not Reported' }}</td>
                        </tr>

                                    <tr class="secondary">
                                    <td><strong>Validation:</strong></td>
                                    <td>{{ object.get_validation_display|default_if_none:'Not Reported' }}</td>
                        </tr>

                                </table>

                                {% if object.notes %}
                                    <div class="ui card">
                                        <div class="content">
                                            <div class="ui sub header">Additional Notes</div>
                                        </div>
                                        <div class="content">
                                            <div class="content">
                                                <div class="summary">
                                                    {{ object.notes }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="ten wide column" >
                <div class="ui segment">

                    <div id="map" style='width: 650px; height: 600px;'></div>

                </div>
            </div>
        </div>


        {% if object.cwt_series.all %}

            <div  class="ui grid" >
                <div  class="column" >
                    <div class="ui card fluid">
                        <div class="content">
                            <div class="header">
                                <h5>Coded Wire Tags</h5>
                            </div>
                        </div>

                        <div class="content">
                            <div class="event">
                                <div class="summary">

                                    <table class="ui celled table">
                                        <thead>
                                            <tr>
                                                <th>CWT Number</th>
                                                <th>Tag Type</th>
                                                {% if object.has_sequential_cwts %}
                                                    <th>Seq. Start</th>
                                                    <th>Seq. End</th>
                                                {% endif%}
                                                <th>Manufacturer</th>
                                                <th>Event Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cwt in object.cwt_series.all %}
                                                <tr>
                                                    <td><a href="#">{{ cwt.cwt.cwt_number|format_cwt }}</a></td>
                                                    <td>{{ cwt.cwt.get_tag_type_display }}</td>

                                                    {% if object.has_sequential_cwts %}
                                                        <td>{{ cwt.seq_start}}</td>
                                                        <td>{{ cwt.seq_end }}</td>
                                                    {% endif%}

                                                    <td>{{ cwt.cwt.get_manufacturer_display }}</td>
                                                    <td>{{ cwt.events.count }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block extra_js %}


    {{ object.lake.shoreline.extent|json_script:"map-bounds" }}

    <script type="text/javascript">

     $(document).ready(function(){
         $("#details-table");
         $('.secondary').hide();
     }
     );

     $(function() {
         $('a#toggle-details').click(function(){

             var text = $(this).text();
             if (text == 'More Detail') {
                 $(this).text('Less Detail');
             }
             else  {
                 $(this).text('More Detail');
             }

             $('.secondary').toggle();
             return false;
         });
     });


     let bbox = JSON.parse(document.getElementById('map-bounds').textContent);
     let mapBounds = [bbox.slice(0,2), bbox.slice(2)];

     mapboxgl.accessToken = 'pk.eyJ1IjoiYWNvdHRyaWxsIiwiYSI6ImNpazVmb3Q2eDAwMWZpZm0yZTQ1cjF3NTkifQ.Pb1wCYs0lKgjnTGz43DjVQ';
     let map = new mapboxgl.Map({
         container: 'map',
         style: 'mapbox://styles/mapbox/streets-v9',
         bounds: mapBounds
     });


     // add our stocking event loction as a circle (rather than a stylized marker.)
     map.on('load', function () {

         map.addSource('point', {
             "type": "geojson",
             "data": {
                 "type": "Point",
                 "coordinates": [
                     {{ object.geom.x }}, {{ object.geom.y }}
                 ]
             }
         });

         map.addLayer({
             "id": "point",
             "source": "point",
             "type": "circle",
             "paint": {
                 "circle-radius": 6,
                 "circle-color": "#f00b0b",
                 "circle-stroke-color": "#8C0202",
                 "circle-stroke-width": 1,
                 "circle-opacity": 0.6
             }
         });

     })

    </script>

{% endblock %}
