{% extends 'fsdviz_base.html' %}

{% load humanize %}
{% load fsdviz_tags %}
{% load static %}

{% block extra_head %}

    <style type="text/css" media="screen">
     .small {
         font-size: 0.8rem;
     }

     td .capitalize {
         text-transform: capitalize;
     }

    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src= "https://unpkg.com/leaflet@1.5.1/dist/leaflet-src.js"></script>


{% endblock %}

{% block content %}

    <div  class="ui container" >
        <div  class="ui grid"  >
            <div  class="six wide column" >

                <div class="ui card fluid">
                    <div class="content">
                        <div class="header">
                            <h5>Event Details
                                <div class="right floated meta">
                                    <a class="float-right small" href="#details" id="toggle-details">More Detail</a>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <div class="content">
                        <div class="event">
                            <div class="summary">
                                <table class="ui very basic compact  table" id="details-table">
                                    <tr>
                                        <td><strong>Stock Id:</strong></td>
                                        <td class="capitalize">{{ object.stock_id}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Agency Stock Id:</strong></td>
                                        <td id="agency-stock-id">{{ object.agency_stock_id |default_if_none:'Not Reported'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Species:</strong></td>
                                        <td class="capitalize">{{ object.species.common_name|title}} ({{ object.species.abbrev }})</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Strain:</strong></td>
                                        <td class="capitalize">{{ object.strain_raw.strain.strain_label}}
                                            ({{ object.strain_raw.strain.strain_code}})</td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Reported Strain:</strong></td>
                                        <td id="strain-raw">{{ object.strain_raw.description}}({{ object.strain_raw.raw_strain}})</td>
                                    </tr>


                                    <tr>
                                        <td><strong>Agency:</strong></td>
                                        <td class="capitalize">{{ object.agency }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Hatchery:</strong></td>
                                        <td id="hatchery">{{ object.hatchery|default_if_none:'Not Reported' }}</td>
                                    </tr>


                                    <tr>
                                        <td><strong>Lake:</strong></td>
                                        <td class="capitalize">{{ object.lake }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>State/Prov:</strong></td>
                                        <td class="capitalize">{{ object.stateprov }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>General Location:</strong></td>
                                        <td class="capitalize">{{ object.site|title }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Specific Location:</strong></td>
                                        <td class="capitalize">{{ object.st_site|default_if_none:'Not Specified' }}</td>
                                    </tr>

                                    <tr>


                                        <td><strong>10-Min. Grid:</strong></td>
                                        <td class="capitalize">{{ object.grid_10 }}</td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Coordinates:</strong></td>
                                        <td class="capitalize">{{ object.geom.y|floatformat:4 }}&#176;N; {{ object.geom.x|floatformat:4 }}&#176;W</td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>LatLon Flag:</strong></td>
                                        <td class="capitalize">{{ object.latlong_flag }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Date:</strong></td>
                                        <td class="capitalize">{{ object.best_date_str }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Method:</strong></td>
                                        <td class="capitalize">{{ object.stocking_method }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Life Stage:</strong></td>
                                        <td class="capitalize">{{ object.lifestage }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Age(months):</strong></td>
                                        <td class="capitalize">{{ object.agemonth }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Year Class:</strong></td>
                                        <td class="capitalize">{{ object.year_class }}</td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Length(mm):</strong></td>
                                        <td id="length">{{ object.length|default_if_none:'Not Reported' }}</td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Weight(g):</strong></td>
                                        <td id="weight">{{ object.weight|default_if_none:'Not Reported' }}</td>
                                    </tr>


                                    <tr>
                                        <td><strong>Clips:</strong></td>
                                        {% if object.clip_code %}
                                            <td id="clip-code">
                                                {{ object.clip_code.clip_code }} - {{ object.clip_code.description }}
                                            </td>
                                        {% else %}
                                            <td id="clip-code">None Reported</td>
                                        {% endif %}

                                    </tr>

                                    <tr>
                                        <td><strong>Tags:</strong></td>
                                        <td id="tags">
                                            {% for item in object.fish_tags.all %}
                                                <p>{{item}}</p>
                                            {% empty %}
                                                None Reported
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Tag Reten.:</strong></td>
                                        <td id="tag-reten">{{ object.tag_ret|default_if_none:'Not Reported' }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Marks:</strong></td>
                                        <td id="physchem-marks">
                                            {% for item in object.physchem_marks.all %}
                                                <p>{{item}}</p>
                                            {% empty %}
                                                None Reported
                                            {% endfor %}
                                        </td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Mark Eff:</strong></td>
                                        <td id="mark-eff">{{ object.mark_eff|default_if_none:'Not Reported' }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Condition:</strong></td>
                                        <td class="capitalize">{{ object.condition }}</td>
                                    </tr>

                                    <tr>
                                        <td><strong>Number Stocked:</strong></td>
                                        <td class="capitalize">{{ object.no_stocked|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Yearling Equiv.:</strong></td>
                                        <td class="capitalize">{{ object.yreq_stocked|intcomma }}</td>
                                    </tr>


                                    <tr class="extra-detail">
                                        <td><strong>Lot Code:</strong></td>
                                        <td id="lot-code">{{ object.lotcode|default_if_none:'Not Reported' }}</td>
                                    </tr>

                                    <tr class="extra-detail">
                                        <td><strong>Validation:</strong></td>
                                        <td id="validation">{{ object.get_validation_display|default_if_none:'Not Reported' }}</td>
                                    </tr>

                                </table>


                                <div class="ui card">
                                    <div class="content">
                                        <div class="ui sub header">Additional Notes</div>
                                    </div>
                                    <div class="content">
                                        <div class="content">
                                            <div class="summary" id="additional-notes" >
                                                {{ object.notes|default_if_none:'None' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="ten wide column" >
                <div class="ui segment">

                    <div id="mapid" style='width: 650px; height: 600px;'></div>

                </div>

                {% if can_edit %}
                    <a class="ui primary button" href="{% url 'stocking:edit-stocking-event' stock_id=object.stock_id %}">Edit Event</a>
                {% endif %}



            </div>

        </div>


        {% if object.cwt_series.all %}

            <div  class="ui grid" >
                <div  class="column" >
                    <div class="ui card fluid">
                        <div class="content">
                            <div class="header">
                                <h5>Coded Wire Tags</h5>
                            </div>
                        </div>

                        <div class="content">
                            <div class="event">
                                <div class="summary">

                                    <table class="ui celled table">
                                        <thead>
                                            <tr>
                                                <th>CWT Number</th>
                                                <th>Tag Type</th>
                                                {% if object.has_sequential_cwts %}
                                                    <th>Seq. Start</th>
                                                    <th>Seq. End</th>
                                                {% endif%}
                                                <th>Manufacturer</th>
                                                <th>Event Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for cwt in object.cwt_series.all %}
                                                <tr>
                                                    <td><a href="{% url 'stocking:cwt-detail' cwt_number=cwt.cwt.cwt_number%}">{{ cwt.cwt.cwt_number|format_cwt }}</a></td>

                                                    <td class="capitalize">{{ cwt.cwt.get_tag_type_display }}</td>

                                                    {% if object.has_sequential_cwts %}
                                                        <td class="capitalize">{{ cwt.sequence.lower}}</td>
                                                        <td class="capitalize">{{ cwt.sequence.upper }}</td>
                                                    {% endif%}

                                                    <td class="capitalize">{{ cwt.cwt.get_manufacturer_display }}</td>
                                                    <td class="capitalize">{{ cwt.events.count }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}

{% block extra_js %}


    {{ object.lake.geom.extent|json_script:"map-bounds" }}


    <script type="text/javascript">

     $(document).ready(function(){
         $("#details-table");
         $('.extra-detail').hide();
     }
     );

     $(function() {
         $('a#toggle-details').click(function(){

             var text = $(this).text();
             if (text == 'More Detail') {
                 $(this).text('Less Detail');
             }
             else  {
                 $(this).text('More Detail');
             }

             $('.extra-detail').toggle();
             return false;
         });
     });


     let bbox = JSON.parse(document.getElementById('map-bounds').textContent);
     let mapBounds = [bbox.slice(0,2), bbox.slice(2)];

     // setup the map with rough bounds (need to get pies to plot first,
     // this will be tweaked later):
     const mymap = L.map("mapid", {
         zoomDelta: 0.25,
         zoomSnap: 0
     }).fitBounds([[bbox[1], bbox[0]], [bbox[3], bbox[2]]]);

     L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
         attribution:
     '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
         maxZoom: 18
     }).addTo(mymap);


     var circle = L.circleMarker([ {{ object.geom.y }}, {{ object.geom.x }}], {
         color: 'red',
         fillColor: '#f03',
         fillOpacity: 0.5,
         radius: 5
     }).addTo(mymap);


    </script>

{% endblock %}
