{% extends 'fsdviz_base.html' %} {% block extra_head %}

    {% load static %}

    <style>


     .ui.table thead tr:first-child > th {
         position: sticky !important;
         top: 0;
         z-index: 2;
     }

     table {
         width: 100%;
     }

     .table-container {
         overflow-x: auto;
         white-space: nowrap;
         height: 700px;
     }

     td {
         white-space: nowrap;
     }

     select {
         min-width: 75px;
     }
    </style>

{% endblock %} {% block content %}


    <h1>{{  event_count }} Uploaded {{ agency.abbrev }} Stocking Event{{ event_count|pluralize }} for {{ lake.lake_name }}</h1>




    {{ form.non_field_errors }}


    <div class="table-container">
        <form class="ui form" method="post"  id="upload-form" action="{% url "stocking:xls-events-form" %}" >

            <div class="ui inverted dimmer" id="event-loader">
                <div class="ui large text loader">Uploading Stocking Events...</div>
            </div>

            {% csrf_token %}
            {{ formset.management_form }}
            <table class="ui small very compact single line table">
                <thead>
                    <tr class="center aligned">
                        <th>Valid</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Day</th>
                        <th>State/Prov</th>
                        <th>Stat. Dist.</th>
                        <th>Grid</th>
                        <th>Site</th>
                        <th>St.Site</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Species</th>
                        <th>Strain</th>
                        <th>Stage</th>
                        <th>AgeMonth</th>
                        <th>Year Class</th>
                        <th>Tag No.</th>
                        <th>Tag Ret.</th>
                        <th>Length</th>
                        <th>Weight</th>
                        <th>Condition</th>
                        <th>Method</th>
                        <th>No. Stocked</th>
                        <th>Lot Code</th>
                        <th>Notes</th>
                        <th>finclip</th>
                        <th>clip_efficiency</th>
                        <th>physchem_mark</th>
                        <th>tag_type</th>
                        <th>hatchery</th>
                        <th>agency_stock_id</tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        <tr class="" id="id_form-{{forloop.counter0}}-row">

                            <td class="center aligned">
                                <i id="id_form-{{forloop.counter0}}-icon" class="green check icon"></i>
                            </td>

                            {%  for field in form.visible_fields %}

                                <td  >
                                    <div class="field {% if field.errors %} error{% endif %}" id="{{field.id_for_label}}-field">
                                        <div class="ui mini input">
                                            {{ field }}
                                        </div>
                                    </div>
                                </td>

                            {% endfor %}

                        </tr>
                    {% endfor %}
                </tbody>

                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="4">
                            <button class="ui right floated small primary labeled icon button"
                                    type="submit" >
                                <i class="cloud upload icon"></i> Upload Events
                            </button>
                        </th>
                        <th colspan="11"></th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>

{% endblock %}


{% block extra_js %}


    {{ formset_errors|json_script:"formset-error-data" }}

    {{ mu_grids|json_script:"mu-grids-data" }}

    {{ bbox|json_script:"lake-envelope" }}

    <script>

     // our form validation will go here.
     /* $('.error')
      *     .popup( {
      *         position : 'bottom center',
      *         inline: true
      *     }); */

     $('#upload-form').form({
         onSuccess: function(e) {
             $('#event-loader').addClass('active');
         }
     });

     const form_errors = JSON.parse(document.getElementById('formset-error-data').textContent);
     const mu_grids = JSON.parse(document.getElementById('mu-grids-data').textContent);
     let lake_bbox = JSON.parse(document.getElementById('lake-envelope').textContent);

    </script>

    <script src="{% static "js/xlsx_event_validation.js" %}"></script>



{% endblock extra_js%}
