{% extends "fsdviz_base.html" %}

{% load resource_library_tags %}

{% block title %}
    Resource Library
{% endblock %}

{% block content %}

    <div class="ui container">
        <div class="ui vertically padded grid">

            <div class="row">
                <h1>Available Resources</h1>
            </div>
            {% if user.is_authenticated and user.is_staff %}
                <div class="row">
                    <div class="ui right floated column">
                        <a href="{% url 'admin:resource_library_resource_changelist' %}"
                           class="ui right floated small blue button">
                            Add or Edit Resources
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if objects %}
                {% regroup objects by category as resource_list %}
                {% for resource in resource_list %}
                    <div class="row" style="padding-top:25px">
                        <h2>{{ resource.grouper }}</h2>
                    </div>

                    {% if resource.grouper.label in categories %}
                        <div class="row" id="{{resource.grouper.label|to_id}}-description">
                            {{categories | lookup_category_description:resource.grouper.label }}
                        </div>
                    {% endif %}
                    <div class="row" id="{{resource.grouper.label|to_id}}-resources">

                        <table class="ui celled table">
                            <thead>
                                <tr><th>Title</th>
                                    <th>Author</th>
                                    <th>Resource Type</th>
                                    <th>Uploaded By</th>
                                    <th>Uploaded On</th>
                                </tr></thead>
                            <tbody>
                                {% for item in resource.list %}
                                    <tr>
                                        <td>
                                            {% if item.external_link %}
                                                <a href="{{ item.external_link}}">{{ item.title }}</a>
                                            {% else %}
                                                <a href="{% url 'resource_library:serve_file' filename=item.upload.name %}">{{ item.title }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ item.author }}
                                        </td>
                                        <td>
                                            {{ item.resource_type }}
                                        </td>
                                        <td>
                                            {{ item.modified_by }}
                                        </td>
                                        <td>
                                            {{ item.modified }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endfor %}

            {%  else %}
                <div class="ui message">
                    <div class="header">
                        Opps!
                    </div>
                    <ul class="list">
                        <li>It doesn't look like any resources are currently available.</li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}



{% block extra_js %}

    <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>

    <script>
     // not sure why, but the sorter will not work without this initial, empty script block.
     $( window ).on( "load", function() {

     });
    </script>
    <script>
     $(function() {
         $('table').tablesort()
     });
    </script>



{% endblock %}
