[run]
include = fsdviz/*

omit =
    */.virtualenv/*,
    */tests/*,
    django_settings.py,
    manage.py,
    .gitignore,
    .coverage
    *.git/*,
    *htmlcov/*,
    *config/*,
    *migrations/*,    
    *docs/*,
    *utils/*,
