[run]

omit =
    django_settings.py,
    manage.py,
    .gitignore,
    .coverage
    *.git/*,
    *htmlcov/*,
    *config/*,
    *migrations/*,    
    *docs/*,
    *utils/*,
    *fsdviz/tests/*,
    *myusers/tests/*
