.dir-locals.el
.coverage
.eslintrc.js
.pylintrc
htmlcov/*
node_modules/*
docs/build/*
*.pyc
__pycache__
fsdviz/favicon.ico
fsdviz/static/*
utils/data/*
utils/stocking_database_report.txt
fsdviz/static/js/accessToken.js
.tern-port
*.accdb
*.qgz
*sandbox*
*htmlcov*
*#*
.babelrc
.eslint.json
.flake8
utils/fsdviz.wksp
utils/fsdviz.wksp.1
utils/stocking_database_report2.txt
yarn-error.log
yarn.lock