{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="https://unpkg.com/fomantic-ui@2.8.3/dist/semantic.min.css">

        <script src="{% static "bookmark_modal_form.js" %}"></script>


        <style type="text/css" media="screen">


         body {
             min-width: 100%;
         }

         .container{
             position: relative;
             min-height: 100vh;
         }

         .footer {
             position: absolute;
             bottom: 0;
             width: 100%;
             height: 75px;
         }


         .ui.grid {
             margin-top: .2rem;
         }
         .ui.dropdown .menu { z-index: 999999 !important; }

        </style>


        {% block extra_head %}

        {% endblock extra_head%}

        <title>{% block title %} GLFS DataViz {% endblock title %} </title>
        <link rel="shortcut icon" type="image/jpg" href="{% static "favicon.ico" %}"/>
    </head>
    <body>

        <div class="container">


            {% block navbar %}

                <div class="ui top attached menu">
                    <a class="item" href="{% url 'home' %}" \>
                        <h3>Great Lakes Fish Stocking</h3>
                    </a>
                    <div class="ui dropdown icon item">
                        Stocking
                        <div class="menu">
                            <div class="item">
                                <a href="{% url 'stocking:stocking-event-list' %}">Events List</a>
                            </div>
                            <div class="item">
                                <a href="{% url 'stocking:find-stocking-events' %}">Find Events</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui dropdown icon item">
                        CWT
                        <div class="menu">
                            <div class="item">
                                <a href="{% url 'stocking:cwt-list' %}">CWT List</a>
                            </div>
                            <div class="item">
                                <span class="text">
                                    <a href="{% url 'stocking:find-cwt-stocking-events' %}">Find CWT Events</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="ui dropdown icon item">
                        Utilities
                        <div class="menu">
                            {% if user.role == 'asc' or user.role == 'glsc' %}
                                <div class="item"><a href="{% url 'stocking:data-upload-event-list' %}" >Data Upload List</a></div>
                                <div class="item"><a href="{% url 'stocking:upload-stocking-events' %}" >Upload Data</a></div>
                                <div class="ui divider"></div>
                            {% endif %}
                            <div class="item"><a href="{% url 'common:spatial-lookup' %}" >Spatial Lookup</a></div>
                            <div class="item"><a href="{% url 'common:lookup-tables' %}" >Lookup Tables</a></div>
                            <div class="item"><a href="{% url 'resource_library:resource_list' %}" >Reference Material</a></div>
                            {% if user.is_authenticated %}
                                <div class="ui divider"></div>
                                {% block create_bookmark %}
                                    <div class="item"><a href="{% url 'bookmark_it:bookmark_modal' %}" onClick="openNewBookmarkModal(event); return false;">Create Bookmark Here</a></div>
                                {% endblock create_bookmark %}

                                <div class="item"><a href="{% url 'bookmark_it:bookmark_list' %}">Bookmarks List</a></div>
                            {% endif %}
                        </div>
                    </div>


                    <a class="item" href="{% url 'about' %}" \>
                        About
                    </a>



                    {% if user.is_authenticated %}

                        <div class="ui dropdown icon item">
                            Admin
                            <div class="menu">
                                <div class="item"><a href="{% url 'password_change' %}">Change Your Password</a></div>
                                {% if user.is_staff %}
                                    <div class="item"><a href="{% url 'admin:index' %}" >Django Admin</a></div>
                                {% endif %}
                                <div class="ui divider"></div>

                                <div class="item"><a href="{% url 'tickets:ticket_list' %}">TicketTracker</a></div>

                                <div class="ui divider"></div>
                                <div class="item"><a href="{% url 'logout' %}">Logout</a></div>

                            </div>
                        </div>


                        <div class="ui dropdown icon item" id="welcome">

                            Welcome {{ user.first_name }}!

                        </div>

                    {% else %}

                        <div class="ui item" id="login">

                            <a href="{% url 'login' %}">Login</a>

                        </div>


                    {% endif %}


                    {% block navbar_search %}


                        <div class="right menu">
                            <form id="menu-search-form" class="item" action="{% url 'stocking:stocking-event-list' %}" method="get">
                                <div class="ui right aligned category search item">
                                    <div class="ui transparent icon input">
                                        <input class="prompt" type="text" required placeholder="Search By Event id..." name="q">
                                        <i id="menu-search-icon" class="search link icon"></i>
                                    </div>
                                </div>
                            </form>
                        </div>


                    {% endblock navbar_search %}

                </div>

            {% endblock navbar%}


            {% block messages %}




                <div id="unsupported-browser" class="ui hidden negative icon message">
                    <i class="exclamation circle icon"></i>
                    <i class="close icon"></i>
                    <div class="content">
                        <div class="header">
                            Unsupported Browser!
                        </div>
                        <p>
                            This website will offer limited functionality
                            in this browser. The mapping and interactive
                            graphics on this website require a more recent
                            version of major browsers like Chrome,
                            Firefox, Safari, and Edge in order to render
                            properly.
                        </p>
                    </div>
                </div>




            {% endblock %}


            <div class="ui basic segment">

            </div>


            {% block content %}

            {% endblock content%}


            {% block footer %}

                <div class="ui segment footer">

                    <img class="ui medium  image"
                         alt="Great Lakes Fisheries Commision - Science Transfer Logo"
                         src="{% static 'GLFC-Science-Transfer.png'%}">
                </div>
            {% endblock footer %}




            <script
                src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

            <script src="https://unpkg.com/fomantic-ui@2.8.3/dist/semantic.min.js"></script>

            <script>

             function isIE() {
                 return /Trident\/|MSIE/.test(window.navigator.userAgent);
             }

             let showBrowserAlert = (function () {
                 let message = document.getElementById('unsupported-browser');
                 let is_IE = isIE();
                 if (is_IE) {
                     message.classList.remove("hidden");
                 }
             });

             document.addEventListener('DOMContentLoaded', showBrowserAlert);

             $(document).ready(function() {

                 $('.ui.accordion')
                     .accordion();

                 $('.ui.dropdown')
                     .dropdown();

                 $('.message .close')
                     .on('click', function() {
                         $(this)
                             .closest('.message')
                             .transition('fade')
                         ;
                     })
                 ;

             });


             $( "#menu-search-icon" ).click(function(event){
                 event.preventDefault();
                 if ($('#menu-search-form')[0].checkValidity())
                     $('#menu-search-form').submit();
                 else
                     $('#menu-search-form')[0].reportValidity()
             });

            </script>


            {% block bookmark_modal_form %}
                {% include 'bookmark_it/bookmark_modal_form.html' %}
            {% endblock bookmark_modal_form %}


            {% block extra_js %}

            {% endblock extra_js%}

    </body>
</html>
