

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />



        <style type="text/css" media="screen">

         .ui.grid {
             margin-top: .2rem;
         }
         .ui.dropdown .menu { z-index: 999999 !important; }



        </style>


        {% block extra_head %}

        {% endblock extra_head%}

        <title>{% block title %} GLFS DataViz {% endblock title %} </title>

    </head>
    <body>

        {% block navbar %}

            <div class="ui top attached menu">
                <a class="item" href="{% url 'home' %}" \>
                    <h3>Great Lakes Fish Stocking</h3>
                </a>
                <div class="ui dropdown icon item">
                    Stocking
                    <div class="menu">
                        <div class="item">
                            <span class="text">Event List</span>
                        </div>
                        <div class="item">
                            <span class="text">Region of Interest</span>
                        </div>

                        <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">Lake</span>
                            <div class="menu">
                                {% if year %}
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake-year' 'SU' year %}">Lake Superior</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake-year' 'MI' year %}">Lake Michigan</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake-year' 'HU' year %}">Lake Huron</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake-year' 'SC' year %}">St Clair</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake-year' 'ER' year %}">Lake Erie</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake-year' 'ON' year %}">Lake Ontario</a></div>
                                {% else %}
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake' 'SU' %}">Lake Superior</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake' 'MI' %}">Lake Michigan</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake' 'HU' %}">Lake Huron</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake' 'SC' %}">St Clair</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake' 'ER' %}">Lake Erie</a></div>
                                    <div class="item"><a href="{% url 'stocking:stocking-event-list-lake' 'ON' %}">Lake Ontario</a></div>
                                {%endif%}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui dropdown icon item">
                    CWT
                    <div class="menu">
                        <div class="item">
                            <span class="text">CWT List</span>
                        </div>
                        <div class="item">
                            <span class="text">Region of Interest</span>
                        </div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">Lake</span>
                            <div class="menu">
                                <div class="item"><a href="#" %}">Lake Superior</a></div>
                                <div class="item"><a href="#" %}">Lake Michigan</a></div>
                                <div class="item"><a href="#" %}">Lake Huron</a></div>
                                <div class="item"><a href="#" %}">Lake Erie</a></div>
                                <div class="item"><a href="#" %}">Lake Ontario</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui dropdown icon item">
                    CWT Recoveries
                    <div class="menu">
                        <div class="item">
                            <span class="text">Region of Interest</span>
                        </div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">Lake</span>
                            <div class="menu">
                                <div class="item"><a href="#" %}">Lake Superior</a></div>
                                <div class="item"><a href="#" %}">Lake Michigan</a></div>
                                <div class="item"><a href="#" %}">Lake Huron</a></div>
                                <div class="item"><a href="#" %}">Lake Erie</a></div>
                                <div class="item"><a href="#" %}">Lake Ontario</a></div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="ui dropdown icon item">
                    Resources
                    <div class="menu">
                        <div class="item">
                            <span class="text">Documentation</span>
                        </div>
                        <div class="item">
                            <span class="text">Tutorials</span>
                        </div>
                        <div class="item">
                            <span class="text">About</span>
                        </div>
                        <div class="item">
                            <span class="text">Report A problem</span>
                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}

                    <div class="ui dropdown icon item">
                        Admin
                        <div class="menu">
                            <div class="item"><a href="{% url 'password_change' %}">Change Your Password</a></div>
                            <div class="item"><a href="{% url 'admin:index' %}" >Django Admin</a></div>
                            <div class="item"><a href="{% url 'logout' %}">Logout</a></div>

                    </div>
                </div>

                <div class="ui dropdown icon item" id="welcome">

                    Welcome {{ user.first_name }}!

                </div>

                {% else %}

                <div class="ui item" id="login">

                    <a href="{% url 'login' %}">Login</a>

                </div>


                {% endif %}


                {% block navbar_search %}

                    <div class="right menu">
                        <div class="ui right aligned category search item">
                            <div class="ui transparent icon input">
                                <input class="prompt" type="text" placeholder="Search By Event id..." name="q">
                                <i class="search link icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>

                {% endblock navbar_search %}

            </div>


        {% endblock navbar%}


        {% block messages %}

            <div class="ui negative icon message">
                <i class="exclamation circle icon"></i>
                <i class="close icon"></i>
                <div class="content">
                    <div class="header">
                        For Demonstration Purposes Only.
                    </div>
                    <p>This application is currently under active development and is known to be incomplete.</p></div>
            </div>
            </div>



        {% endblock %}


        {% block content %}

        {% endblock content%}


        {% block footer %}

        {% endblock footer %}




        <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
                integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>


        <script type="text/javascript">

         $(document).ready(function() {

             $('.ui.accordion')
                 .accordion();

             $('.ui.dropdown')
                 .dropdown();


             $('.message .close')
                 .on('click', function() {
                     $(this)
                         .closest('.message')
                         .transition('fade')
                     ;
                 })
             ;

         });

        </script>

        {% block extra_js %}




        {% endblock extra_js%}


    </body>
</html>
