<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        -->
        <!-- Bootswatch css - spacelab theme -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-dN0bQBvJ8wEUUKo/xICRDCg194KyqLX7p96/aqHs/bDlswiRc3IxSIjSNfvO9rgD" crossorigin="anonymous">

        {% block extra_head %}

        {% endblock extra_head%}

        <title>{% block title %} GLFS DataViz {% endblock title %} </title>

    </head>
    <body>

        {% block navbar %}


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Great Lakes Fish Stocking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stocking
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Event List</a>
                            <a class="dropdown-item" href="#">Region Of Interest</a>
                            <div class="dropdown-divider"></div>
                            {% if year %}
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake-year' 'SU' year %}">Lake Superior</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake-year' 'MI' year %}">Lake Michigan</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake-year' 'HU' year %}">Lake Huron</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake-year' 'ER' year %}">Lake Erie</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake-year' 'ON' year %}">Lake Ontario</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake' 'SU' %}">Lake Superior</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake' 'MI' %}">Lake Michigan</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake' 'HU' %}">Lake Huron</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake' 'ER' %}">Lake Erie</a>
                            <a class="dropdown-item" href="{% url 'stocking:stocking-event-list-lake' 'ON' %}">Lake Ontario</a>

                            {%endif%}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CWTs
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">CWT List</a>
                            <a class="dropdown-item" href="#">Region Of Interest</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Lake Superior</a>
                            <a class="dropdown-item" href="#">Lake Michigan</a>
                            <a class="dropdown-item" href="#">Lake Huron</a>
                            <a class="dropdown-item" href="#">Lake Erie</a>
                            <a class="dropdown-item" href="#">Lake Ontario</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>


        {% endblock navbar%}


        {% block content %}

        {% endblock content%}


        {% block footer %}

        {% endblock footer %}


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {% block extra_js %}

        {% endblock extra_js%}


    </body>
</html>
