
{% extends 'fsdviz_base.html' %}

{% block title %}
    Email Sent
{% endblock %}


{% block extra_head %}
    <style media="screen">

     body > .grid {
         height: 80%;
     }

     .column {
         max-width: 450px;
     }

    </style>
{% endblock %}


{% block content %}


    <div class="ui middle aligned center aligned grid">
        <div class="column">

            <div class="ui centered card fluid">
                <div class="content">
                    <div class="header">Check your inbox.</div>
                </div>
                <div class="content">
                    <p> We have emailed you instructions for resetting your password. You should receive the e-mail shortly.</p>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
