
{% extends 'fsdviz_base.html' %}

{% block title %}
    Email Sent
{% endblock %}


{% block extra_head %}
    <style type="text/css" media="screen">

     body > .grid {
         height: 80%;
     }

     .column {
         max-width: 450px;
     }

    </style>
{% endblock %}


{% block content %}


    <div class="ui middle aligned center aligned grid">
        <div class="column">

            <div class="ui centered card fluid">
                <div class="content">
                    <div class="header">Password Reset Complete.</div>
                </div>
                <div class="content">
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <p><a href="{% url 'login' %}">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
