{% extends 'fsdviz_base.html' %}

{% block title %}
    Enter new password
{% endblock %}


{% block extra_head %}
    <style media="screen">


     body > .grid {
         height: 80%;
     }

     .column {
         max-width: 450px;
     }

    </style>
{% endblock %}


{% block content %}


    <div class="ui middle aligned center aligned grid">
        <div class="column">

            <div class="ui centered card fluid" >
                <div class="content">
                    <div class="header">Change Your Password:</div>
                </div>
                <div class="content">

                    <form class="ui form" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="ui negative message">
                                <div class="header">
                                    Please fix the errors in the form below.
                                </div>
                                {% if form.errors %}
                                    <ul class="list">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li class="error">{{ error|escape }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <li class="error">{{ error|escape }}</li>
                                        {% endfor %}
                                {% endif %}
                                    </ul>
                            </div>
                        {% endif %}

                        {% if msg %}
                            <div class="ui negative message">
                                {{ msg }}
                            </div>
                        {% endif %}


                        <!-- old_password -->
                        <div class="field {% if form.old_password.errors %} error{% endif %}">
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}

                        </div>

                        {% if form.old_password.errors %}
                            <div class="ui warning message">
                                <ul class="list">
                                    {% for error in form.old_password.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}



                        <!-- new_password1 -->
                        <div class="field {% if form.new_password1.errors %} error{% endif %}">
                            {{ form.new_password1.label_tag }}
                            {{ form.new_password1 }}

                        </div>

                        {% if form.new_password1.errors %}
                            <div class="ui warning message">
                                <ul class="list">
                                    {% for error in form.new_password1.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}


                        <!-- new_password2 -->
                        <div class="field {% if form.new_password2.errors %} error{% endif %}">
                            {{ form.new_password2.label_tag }}
                            {{ form.new_password2 }}
                            <small>{{ form.new_password2.help_text}}</small>
                        </div>

                        {% if form.new_password2.errors %}
                            <div class="ui warning message">
                                <ul class="list">
                                    {% for error in form.new_password2.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <div class="ui accordion">
                            <div class="title active">
                                <i class="dropdown icon"></i>
                            </div>
                            <div class="content">
                                <p class="transition visible" style="display: block !important;">
                                    <div class="ui segment">

                                        <small>{{ form.new_password1.help_text }}</small>
                                    </div>


                                </p>
                            </div>

                        </div>



                        <button class="ui right floated small primary button" type="submit">Change my password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}


{% block extra_scripts %}

    <script>

     $('.ui.accordion')
         .accordion()
     ;

    </script>

{% endblock %}
